<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.erp.sys.mapper.PermissionMapper">

    <delete id="removeRolePermissionById">
        delete from sys_role_permission where pid=#{id}

    </delete>

    <select id="getRolePermissionPidsByRids" parameterType="list" resultType="integer">
        select distinct pid from sys_role_permission
        where rid in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>
</mapper>
