<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.erp.sys.mapper.RoleMapper">

    <delete id="removeRolePermissionByRid">
        delete from sys_role_permission where rid=#{id}
    </delete>

    <delete id="removeRoleUserByRid">
        delete from sys_role_user where rid=#{id}
    </delete>

    <select id="queryRolePermissionIdsByRid" resultType="integer">
        select pid from sys_role_permission where rid=#{rid}
    </select>

    <insert id="savaRolePermission">
        insert into sys_role_permission values (#{rid},#{pid})
    </insert>

</mapper>
