<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>商品管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/resources/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/resources/css/public.css" media="all" />
    <link rel="stylesheet" href="/resources/layui_ext/dtree/dtree.css">
    <link rel="stylesheet" href="/resources/layui_ext/dtree/font/dtreefont.css">
    <link rel="stylesheet" href="/resources/css/a.css" media="all">
</head>
<body class="childrenBody">
<!-- 搜索条件开始 -->
<blockquote class="layui-elem-quote">
    <form action="" method="post" id="searchFrm" lay-filter="searchFrm" class="layui-form layui-form-pane">
        <div class="layui-form-item" align="center">
            <div class="layui-inline">
                <label class="layui-form-label">供应商</label>
                <div class="layui-input-inline">
                    <select name="providerid" id="search_providerid" lay-search="">
                        <option value="">选择或搜索供应商</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">商品名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="goodsname"  autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">生产批号</label>
                <div class="layui-input-inline">
                    <input type="text" name="productcode" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item" align="center">
            <div class="layui-inline">
                <label class="layui-form-label">批准文号</label>
                <div class="layui-input-inline">
                    <input type="text" name="promitcode" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">商品描述</label>
                <div class="layui-input-inline">
                    <input type="text" name="description" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">商品规格</label>
                <div class="layui-input-inline">
                    <input type="text" name="size" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: center;">
                <button type="button" class="layui-btn" lay-submit="" id="doSearch"><span class="iconfont icon-query1"></span>查询</button>
                <button type="reset" class="layui-btn layui-btn-warm"><span class="iconfont icon-zhongzhi"></span>重置</button>
            </div>
        </div>
    </form>
</blockquote>

<!-- 搜索条件结束 -->

<!-- 数据表格开始 -->
<table class="layui-hide" id="goodsTable" lay-filter="goodsTable"></table>
<div style="display: none;" id="goodsToolBar">
    <button type="button" class="layui-btn layui-btn-sm" lay-event="add"><i class="iconfont icon-tianjiazengjiajia">添加商品</i></button>
</div>
<div  id="goodsBar" style="display: none;">
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="iconfont icon-xiugai">编辑</i></a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="iconfont icon-icon_huabanfuben">删除</i></a>
</div>
<!-- 数据表格结束 -->

<!-- 添加和修改的弹出层开始 -->
<div style="display: none;padding: 5px" id="addOrUpdateDiv">
    <form action="" method="post" class="layui-form layui-form-pane" id="dataFrm" lay-filter="dataFrm" enctype="multipart/form-data">
        <div class="layui-col-md12 layui-col-xs12">
            <div class="layui-row layui-col-space10">
                <div class="layui-col-md9 layui-col-xs7">
                    <div class="layui-form-item magt3">
                        <label class="layui-form-label">供应商</label>
                        <div class="layui-input-block">
                            <select name="providerid" id="addOruodata_providerid">
                                <option value="">请选择供应商</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">商品名称</label>
                        <div class="layui-input-block">
                            <input type="hidden" name="id">
                            <input type="text" class="layui-input" name="goodsname" lay-verify="required" placeholder="请输入商品名称">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">商品描述</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" name="description" lay-verify="required" placeholder="请输入商品描述">
                        </div>
                    </div>
                </div>
                <div class="layui-col-md3 layui-col-xs5">
                    <div class="layui-upload-list thumbBox mag0 magt3">
                        <input type="hidden" name="goodsimg" id="goodsimg" value="defaultgoods.jpg">
                        <img class="layui-upload-im5g thumbImg" src="/file/showImg?path=defaultgoods.jpg"/>
                    </div>
                </div>
            </div>
            <div class="layui-form-item magb0">
                <div class="layui-inline">
                    <label class="layui-form-label">生产地</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="produceplace" lay-verify="" placeholder="请输入商品生产地">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">包装</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="goodspackage" lay-verify="" placeholder="请输入商品包装">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">规格</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="size" lay-verify="" placeholder="请输入商品规格">
                    </div>
                </div>
            </div>
            <div class="layui-form-item magb0">
                <div class="layui-inline">
                    <label class="layui-form-label">生产批号</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="productcode" lay-verify="" placeholder="请输入商品生产批号">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">批准文号</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="promitcode" lay-verify="" placeholder="请输入商品批准文号">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">商品单价</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="price" lay-verify="" placeholder="请输入商品销售价格">
                    </div>
                </div>
            </div>
            <div class="layui-form-item magb0">
                <div class="layui-inline">
                    <label class="layui-form-label">库存量</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="number" lay-verify="" placeholder="请输入商品库存量">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">预警库存</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="dangernum" lay-verify="" placeholder="请输入商品预警值">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">可用状态</label>
                    <div class="layui-input-inline">
                        <input type="checkbox" lay-skin="switch" lay-text="可用|不可用" name="available" value="1" >
                    </div>
                </div>
            </div>
            <div class="layui-form-item" align="center">
                <div class="layui-input-block" style="text-align: center;">
                    <button type="button" class="layui-btn" lay-submit="" lay-filter="doSubmit" id="doSubmit" ><span class="iconfont icon-tijiao"></span>提交</button>
                    <button type="reset" class="layui-btn layui-btn-warm"><span class="iconfont icon-zhongzhi"></span>重置</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- 添加和修改的弹出层结束 -->


<script src="/resources/layui/layui.js"></script>
<script type="text/javascript">
    var tableIns;
    layui.use([ 'jquery', 'layer', 'form', 'table','layedit','upload' ], function() {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var layedit=layui.layedit;
        var upload = layui.upload;
        var url;


        //渲染数据表格
        tableIns=table.render({
            elem: '#goodsTable'   //渲染的目标对象
            ,url:'/goods/loadAllGoods' //数据接口
            ,title: '公告信息'//数据导出来的标题
            ,toolbar:"#goodsToolBar"   //表格的工具条
            ,height:'full-235'
            ,cellMinWidth:100 //设置列的最小默认宽度
            ,page: true  //是否启用分页
            ,cols: [ [   //列表数据
                {field:'id',fixed: 'left', title:'ID',align:'center',width:100}
                ,{field:'goodsname', title:'商品名称',align:'center',width:160}
                ,{field:'providername', title:'供应商',align:'center',width:160}
                ,{field:'produceplace', title:'生产地',align:'center',width:260}
                ,{field:'size', title:'商品规格',align:'center',width:160}
                ,{field:'goodspackage', title:'商品包装',align:'center',width:160}
                ,{field:'productcode', title:'生产批号',align:'center',width:160}
                ,{field:'promitcode', title:'批准文号',align:'center',width:160}
                ,{field:'description', title:'商品描述',align:'center',width:160}
                ,{field:'price', title:'商品单价',align:'center',width:160,templet:function (d) {
                        return d.price+"元"
                    }}
                ,{field:'number', title:'库存量',align:'center',width:160,templet:function (d) {
                        return d.number >= d.dangernum ? '<font color="green">'+d.number+'</font>' : '<font color="red">'+d.number+'</font>';
                    }}
                ,{field:'dangernum', title:'预警库存',align:'center',width:160}
                ,{field:'goodsimg', title:'商品图片',align:'center',width:300,templet:function (d) {
                        return "<img width='60' height='40' src=/file/showImg?path="+d.goodsimg+"/>";
                    }}
                ,{field:'available', title:'是否可用',align:'center',width:'160',templet:function (d) {
                        return d.available==1?'<font color="green">可用</font>':'<font color="red">不可用</font>'
                    }}
                ,{fixed: 'right', title:'操作', toolbar: '#goodsBar', width:150,align:'center'}
            ] ]
        })
        //模糊查询
        $("#doSearch").click(function(){
            var params=$("#searchFrm").serialize();
            tableIns.reload({
                url:"/goods/loadAllGoods?"+params,
                page:{curr:1}

            });
            // alert(params);

        });

        //给下拉框加载供应商
        $.get("/provider/loadAllProviderForSelect",function (res) {
            var data = res.data;
            var html = '<option value="">选择或搜索供应商</option>';
            $.each(data,function (index, item) {
                html+="<option value='"+item.id+"'>"+item.providername+"</option>";
            });
            $("#search_providerid").html(html);//给搜索条件初始化供应商
            $("#addOruodata_providerid").html(html);//给添加或修改弹出层初始化供应商
            form.render('select');
        });



        //监听头部工具栏事件
        table.on("toolbar(goodsTable)",function(obj){
            switch(obj.event){
                case 'add':
                    openAddGoods();
                    break;
            };
        })
        //监听行工具事件
        table.on('tool(goodsTable)', function(obj){
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            if(layEvent === 'del'){ //删除
                layer.confirm('确定删除商品=['+data.goodsname+']=吗？', function(index){
                    //向服务端发送删除指令
                    $.post("/goods/deleteGoods",{id:data.id,goodsimg:data.goodsimg},function(res){
                        if (res.code!=200){
                            layer.msg(res.msg);
                        } else {
                            layer.msg(res.msg);
                            //刷新数据 表格
                            tableIns.reload();
                        }
                    })
                });
            } else if(layEvent === 'edit'){ //编辑
                openUpdateGoods(data);
            }
        });


        //打开添加页面
        function openAddGoods(){
            layer.open({
                type:1,
                title:'商品添加',
                content:$("#addOrUpdateDiv"),
                area:['1000px'],
                success:function(index){
                    url="/goods/addGoods";
                    //清空表单数据
                    $("#dataFrm")[0].reset();
                    $('.thumbImg').attr('src',"/file/showImg?path=defaultgoods.jpg");
                    $("#goodsimg").val("defaultgoods.jpg");//给隐藏域赋值
                }
            });
        }


        //打开修改页面
        function openUpdateGoods(data){
            layer.open({
                type:1,
                title:'商品修改',
                content:$("#addOrUpdateDiv"),
                area:['1000px'],
                success:function(index){
                    //清空表单数据
                    $("#dataFrm")[0].reset();
                    url="/goods/updateGoods";
                    form.val("dataFrm",data);
                    $('.thumbImg').attr('src',"/file/showImg?path="+data.goodsimg);
                }
            });
        }

        //提交
        form.on("submit(doSubmit)",function(obj){
            var params=$("#dataFrm").serialize();
            // layer.alert(url);
            // layer.alert(params);
            $.post(url,params,function(res){
                if (res.code!=200){
                    layer.msg(res.msg);
                } else {
                    layer.closeAll();
                    layer.msg(res.msg);
                    //关闭弹出层

                    //刷新数据 表格
                    tableIns.reload();
                }
            });
        });



        //文件上传
        upload.render({
            elem: '.thumbBox',
            url: '/file/uploadFile',
            acceptMime:'image/*',
            field:'mf',
            method : "post",  //此处是为了演示之用，实际使用中请将此删除，默认用post方式提交
            done: function(res, index, upload){
                var path=res.path;
                alert(path);
                $('.thumbImg').attr('src',"/file/showImg?path="+path);
                $('.thumbBox').css("background","#fff");
                $("#goodsimg").val(path);//给隐藏域赋值
            }
        });

    });
</script>
</body>
</html>