<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>工作台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/resources/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/resources/css/public.css" media="all" />
    <link rel="icon" href="/resources/favicon.ico">
    <link rel="stylesheet" href="/resources/css/a.css" media="all">
    <style>
        .weather {
            background: url(../images/weather.jpg) no-repeat left center;
            width:250px;
            height: 100px;
            margin: 10px 2px 10px 6px;
            padding: 20px 2px 2px 65px;
            text-align: center;
            line-height: 88px;
        }
    </style>
</head>
<body class="childrenBody">
<blockquote class="layui-elem-quote layui-bg-green">
    <div id="nowTime"></div>
</blockquote>
<div class="layui-row layui-col-space12">
    <div class="layui-col-lg6 layui-col-md6">
        <blockquote class="layui-elem-quote title">最新公告 <i class="layui-icon layui-red">&#xe756;</i></blockquote>
        <table class="layui-table mag0" lay-skin="line">
            <colgroup>
                <col>
                <col width="110">
            </colgroup>
            <tbody class="hot_news"></tbody>
        </table>
    </div>
    <div class="layui-col-lg6 layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header"><font size="4">今日天气</font></div>
            <div class="layui-card-body">
                <div class="weather">
                    <iframe width="700" height="150" frameborder="0" scrolling="no" hspace="0" src="https://i.tianqi.com/?c=code&a=getcode&id=48&num=6&icon=1"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 查看公告的div -->
<div id="desk_viewNewDiv" style="padding: 10px;display: none;">
    <h2 id="view_title" align="center"></h2>
    <hr>
    <div style="text-align: center;">
        发布人:<span id="view_opername"></span>  <span style="display: inline-block;width: 20px" ></span>
        发布时间:<span id="view_createtime"></span>
    </div>
    <hr>
    <div id="view_content"></div>
</div>
<script type="text/javascript" src="/resources/layui/layui.js"></script>
<script type="text/javascript" src="/resources/js/jquery.min.js"></script>
<script type="text/javascript">

    var time = "";
    getLangDate();

    // 获取时间
    function getLangDate(){
        var sq=+8;
        var d = new Date();
        var utc = d.getTime() + (d.getTimezoneOffset() * 60000);
        var now = new Date(utc + (3600000*sq));
        var year = now.getFullYear(); //得到年份
        var month = now.getMonth();//得到月份
        var date = now.getDate();//得到日期
        var day = now.getDay();//得到周几
        var hour = now.getHours();//得到小时
        var minu = now.getMinutes();//得到分钟
        var sec = now.getSeconds();//得到秒
        var MS = now.getMilliseconds();//获取毫秒
        var week;
        month = month + 1;
        if (month < 10) month = "0" + month;
        if (date < 10) date = "0" + date;
        if (hour < 10) hour = "0" + hour;
        if (minu < 10) minu = "0" + minu;
        if (sec < 10) sec = "0" + sec;
        if (MS < 100) MS = "0" + MS;
        var arr_week = new Array("星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六");
        week = arr_week[day];
        time = year + "年" + month + "月" + date + "日" + " " + hour + ":" + minu + ":" + sec + " " + week;
        document.getElementById("nowTime").innerHTML ="当前时间为："+"  "+ time;
        setTimeout("getLangDate()",1000);
    }


    // 公告
    $.get("/notice/loadAllNotice?page=1&limit=10",function(data){
        var hotNewsHtml = "";
        for(var i=0;i<3;i++){
            hotNewsHtml += '<tr>'
                +'<td align="left"><a href="javascript:viewNew('+data.data[i].id+');"> '+data.data[i].title+'</a></td>'
                +'<td>'+data.data[i].createtime.substring(0,10)+'</td>'
                +'</tr>';
        }

        $(".hot_news").html(hotNewsHtml);
    });



    function viewNew(id){
        $.get("/news/loadNewById",{id:id},function(obj){
            layer.open({
                type:1,
                title:'查看公告',
                content:$("#desk_viewNewDiv"),
                area:['600px','450px'],
                success:function(index){
                    $("#view_title").html(obj.title);
                    $("#view_opername").html(obj.opername);
                    $("#view_createtime").html(obj.createtime);
                    $("#view_content").html(obj.content);
                }
            });
        });
    }

</script>
</body>
</html>